* { box-sizing: border-box; }
:root {
  --margin:10px;
  --test-border:  border: solid salmon 3px ;
  --main-color: null;
  --accent-color: null;
  --my-white: null;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(135deg, #ffead4 0%, #f9f3d3 100%); 
  background-size: 200% 200%;
	animation: gradientBackground 5s ease infinite;
}

.outer-container {
  display: flex;
  border: dashed salmon 1px ;
  border-radius: 5px;
  width: 100vw;
  height: 150px;
}
.sidebyside{
  flex-direction: row;
}
@media (max-width: 600px) {
  .sidebyside { flex-direction: column; }
}
.inner-container{
  display: flex;
  align-items: center;
  flex: 1 1 0;
  border: dashed 1px ;
  border-radius: 10px;
}
.fullscreen{
  min-height: 100vh;
}
.right-align{
  justify-content: end;
}
.left-align{
  justify-content: start;
}
.center-align{
  justify-content: center;
}
.top-aling{
  
}

.mainButton{
  
}

@media (max-width: 600px) {
  .sidebyside { flex-direction: column; }

}

.test-content{
  height: 50%;
  background-color: #fc7474;
  width: 50%;
  margin: var(--margin);
}

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  height: 130px;
  width: 400px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px ;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.light{
  background-color: rgb(254, 249, 226);
  color: #fc7474;
}
.light:hover{
  background-color: #5c3131;
}
.dark{  
  background-color: #fc7474;
  color:#5c3131;
}
.dark:hover{
  background-color: rgb(254, 249, 226);
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}

.layer-image-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.image1 {
  position: absolute;
  animation: moveLayers 3s infinite linear;

}
.image2 {
  position: absolute;
  animation: moveLayers 4s infinite linear;

}
.image3 {
  position: absolute;
  animation: moveLayers 2s infinite linear;

}

.svg{
  position: absolute;
}

.motion-demo {
  offset-path: path("M0,256L48,224C96,192,192,128,288,128C384,128,480,192,576,229.3C672,267,768,277,864,288C960,299,1056,309,1152,304C1248,299,1344,277,1392,266.7L1440,256");
  animation: move 8000ms infinite linear;
  width: 150px;
  height: 150px;
  background: cyan;
  z-index: 1000;
  position: absolute;
  top: -200px;
  left: -50px;
  overflow: "visible";
  border-radius: 5px;
}

@keyframes moveLayers {
  from { transform: translate(0px,  0); }
  50%  { transform: translate(5px, 0); }
  to   { transform: translate(0px, 0); }    
}










.basic-card{
  background-color: #070406;
  color: #fc7474;
  border: solid 5px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden
}
.banner{
    display: inline-block;
    width: 100%;
    height: 100%;
   
}

svg {
  display: inline-block;
}



.overlay{
  position: fixed;
  text-align: right;
  border: solid 5px transparent;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  width: auto;
  min-width: 170px;
  bottom: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-family: "Flama";
  font-size: "15pt";

  background: linear-gradient(135deg, rgb(247, 196, 251) 0%, #ceffcf 100%); 
  background-size: 400% 400%;
  animation: gradientBackground 4s ease infinite;
  z-index: 100; 
}

.fit-content{
  height: 100%;
}

.rainbowBackground{
  border: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

.wide {
  background-color: #76e5d8;
  grid-column-end: span 2;
  grid-row-end: span 1;
  aspect-ratio: 2;
}

.high {
  background-color: #76e594;
  grid-column-end: span 1;
  grid-row-end: span 2;
  aspect-ratio: 0.5;
}

.large {
  background-color: #ffe6a0;
  grid-column-end: span 2;
  grid-row-end: span 2;
  aspect-ratio: 1;
}

.small {
  background-color: #e576b1;
  grid-column-end: span 1;
  grid-row-end: span 1;
  aspect-ratio: 1;
}

.tiny{
  background-color: #76e5dc;
  grid-column-end: span 50%;
  grid-row-end: span 50%;
  aspect-ratio: 1;
}

.no-background {
  background-color: transparent;
}

.borderless {
  border: solid 5px transparent;
}

.graphic{
  display: flex;
  width: inherit;
  height: inherit;
}

.hoverdiv:hover + .hiddenhoverdiv {
 display: block;
 border :linear-gradient(
  90deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(255, 154, 0, 1) 10%,
  rgba(208, 222, 33, 1) 20%,
  rgba(79, 220, 74, 1) 30%,
  rgba(63, 218, 216, 1) 40%,
  rgba(47, 201, 226, 1) 50%,
  rgba(28, 127, 238, 1) 60%,
  rgba(95, 21, 242, 1) 70%,
  rgba(186, 12, 248, 1) 80%,
  rgba(251, 7, 217, 1) 90%,
  rgba(255, 0, 0, 1) 100%
); ;
}


/* FUN THINGS BELOW */
.pulse {
  z-index: 1;
  animation: pulse2 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulsehover:hover {
  z-index: 1;
  animation: pulse 0.8s;
  animation-fill-mode: forwards;
}

.flip-container{
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-container .front, 
.flip-container .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flip-container .back {
  background-color: rgb(255, 149, 149);
  color: white;
  transform: rotateY(180deg);
}
.flip-container:hover {
  transform: rotateY(180deg);
}

.kenburns{
  animation: kenburns 7s;
  animation-iteration-count: infinite
}

.side2side{
  animation: side2side 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hinge {
  z-index: 1;
  animation: hinge 8s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.wriggle {
  z-index: 1;
  animation: wriggle 7.5s;
  animation-iteration-count: infinite
}

.shineOverlay{

}

.fronthinge{
  transform: none
}
.behindhinge{
  transform: none
}
/* if screen smaller than 600px*/


@keyframes gradientBackground {
	0% {
		background-position: 2% 50%;
	}
	50% {
		background-position: 98% 50%;
	}
	100% {
		background-position: 2% 50%;
	}
}
@keyframes infiteFlip {
	0% {
    transform: rotateY(-180deg);
	}
	50% {
    transform: rotateY(180deg);
	}
	100% {
    transform: rotateY(-180deg);
	}
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }  
  10% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
  20% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
  30% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
  40% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

@keyframes hinge {
  0% {
    transform-origin: top left;
  }
  5% {
    transform-origin: top left;
    transform: rotate(55deg)
  }
  10% {
    transform-origin: top left;
    transform: rotate(40deg)
  }
  20% {
    transform-origin: top left;
    transform: rotate(45deg)
  }
  50%{
    transform-origin: top left;
    transform: rotate(45deg)
  }
  65%{
    transform-origin: top left;
    transform: rotate(0deg)
  }
  100%{
    transform-origin: top left;
    transform: rotate(0deg)
  }
}
@keyframes hingehover {
  0% {
    transform-origin: top left;
  }
  40% {
    transform-origin: top left;
    transform: rotate(55deg)
  }
  70% {
    transform-origin: top left;
    transform: rotate(40deg)
  }
  100% {
    transform-origin: top left;
    transform: rotate(45deg)
  }
}

@keyframes wriggle {
  0% {
    transform: rotate(0deg)
  }
  2% {
    transform: rotate(10deg)
  }
  4% {
    transform: rotate(-10deg)
  }
  6% {
    transform: rotate(10deg)
  }
  8% {
    transform: rotate(-10deg)
  }
  10% {
    transform: rotate(10deg)
  }
  12% {
    transform: rotate(-10deg)
  }
  14% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes kenburns{
  0%{
    transform: scale(1.0);
  }
  20%{
    transform: scale(1.0);
  }
  25%{
    transform: scale(1.1);
  }
  30%{
    transform: scale(1.0);
  }
  70%{
    transform: scale(1.0);
  }
  75%{
    transform: scale(1.1);
  }
  80%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.0);
  }
}

@keyframes side2side{
  0%{
    transform: translate(80%);
  }
  100%{
    transform: translate(-80%);
  }
}

